<div class="form">


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="divtable">
    <div class="divrow">
      <div class="divcell left">
      </div>
      <div class="divcell right">
        <%if flash.any?%>
  <%flash.each do |key, error|%>
    <p style="color: red;"><%=error%></p>
  <%end%>
<%end%>
      </div>
    </div>

    <div class="divrow">
      <div class="divcell left">
        <span class="fieldname"><%= f.label :email %></span>
        <span class="fielddesc">Enter your email</span>
      </div>
      <div class="divcell right">
        <%= f.email_field :email, :autofocus => true, :class => "textbox" %>
      </div>
    </div>

    <div class="divrow">
      <div class="divcell left">
        <span class="fieldname"><%= f.label :password %></span>
        <span class="fielddesc">Enter your password</span>
      </div>
      <div class="divcell right">
        <%= f.password_field :password, :class => "textbox" %>
      </div>
    </div>

    <div class="divrow">
      <div class="divcell left">
      </div>
      <div class="divcell right">
        <% if devise_mapping.rememberable? -%>
          <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
        <% end -%>
      </div>
    </div>
  </div>

  <div style="text-align: center; padding: 10px 0px 0px;">
    <%=f.submit "Sign in", :class =>"button"%>
  </div>
<%end%>
</div>
